/* Section 1 */
video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;

}
#section2{
  height: 900px;
  margin-top: 900px;
  background-color: #161415;
}
#section3{
  min-height: 900px;
  background-color: #161415;
  padding-left: 15%;
}
#section4{
  min-height: 900px;
  background-color: #161415;
}
#section6{
  min-height: 900px;
  background-color: #161415;
}
#boot {
  margin: 20px;
  width: 200px;
  height: 100px;
}

.navbar{
  background: #006ba8;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus{
  background-color: white;
  color: #1ed1d1;
}

a.top {
   position:fixed;
   top : 90%;
   right: 5%;
   z-index: 1000000;
}
.separator{
  clear: both;
}
/* Effet de survol */
figure.effect-sadie figcaption::before{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:-webkit-linear-gradient(top,rgba(72, 76, 97, 0) 0,rgba(77, 125, 119, 0.8) 75%);content:'';
  opacity:0;
  transform:translate3d(0,50%,0);
  transform:translate3d(0,50%,0);
}
figure.effect-sadie h2{
  position:absolute;
  top:50%;
  left:0;
  width:100%;
  color:#66db19;
  background-color: rgba(#000000, 0.4);
  transition: transform .35s,color .35s;
  transition:transform .35s,color .35s;
  transform:translate3d(0,-50%,0);
  transform:translate3d(0,-50%,0);
}
figure.effect-sadie figcaption::before,figure.effect-sadie p{
  transition:opacity .35s, transform .35s;
  transition:opacity .35s,transform .35s;
}
figure.effect-sadie p{
  position:absolute;bottom:0;
  left:0;
  padding-bottom: 100px;
  width:100%;
  opacity:0;
  transform:translate3d(0,10px,0);
  transform:translate3d(0,10px,0);
}
figure.effect-sadie:hover h2{
  color:#fff;
  transform:translate3d(0,-50%,0) translate3d(0,-40px,0);
  transform:translate3d(0,-50%,0) translate3d(0,-40px,0);}
figure.effect-sadie:hover figcaption::before,figure.effect-sadie:hover p{
  opacity:1;
  transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}
.grid{
  position:relative;
  list-style:none;
  text-align:center;
  float: left;
}
.grid figure{
  position:relative;
  float:left;
  overflow:hidden;
  width: 100%;
  height: 850px;
  text-align:center;
}
.grid figure img{
  position:relative;
  display:inline;
  min-height:100%;
  max-width:100%;
  opacity:0.8;
}
.grid figure figcaption{
  color:#fff;
  text-transform:uppercase;
  font-size:20px;
  backface-visibility:hidden;
  backface-visibility:hidden;
}
.grid figure figcaption,.grid figure figcaption>a{
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.grid figure figcaption>a{
  z-index:1000;
  text-indent:200%;
  white-space:nowrap;
  font-size:0;
  opacity:0;
}
.grid figure h2{
  word-spacing:-2px;
  font-weight:300;
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}
.grid figure h2 span{
  font-weight:800;
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}
.grid figure h2,.grid figure p{
  margin:0;
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}
.grid figure p{
  letter-spacing:1px;
  font-size:68.5%;
}

/*timeline */

.timeline time{
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 27px;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #FFF;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #396c15;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 8px;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #396c15 transparent transparent;
}
.timeline ul li:nth-child(even) div {
  left: -468px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #396c15;
}
.timeline ul li::after {
  background: #fff;
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #fff;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px,0,0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px,0,0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/*Timeline sm et xs */

.timeband{
  background-color: #396c15;
  padding: 15px;
}

.timeband{
  list-style-type: none;
}

/* COmpétences */

.skills-items{
  display:inline-block;
  padding:12px;
  /* height:44px; */
  width:100%;
  vertical-align:top;
  background:#444444;
  box-shadow:1px 1px 1px 0px rgba(0,0,0,.2);
  color:#FFFFFF;
  margin-bottom:24px;
  margin-right:3%;
  border-radius:2px;
  cursor:pointer;
  border-left:4px solid #444444;
  transition:all 250ms ease-in-out;
}
.skills-items:hover{
  border-left:4px solid #19e7da;
  transition:all 250ms ease-in-out;
}

#section6 h2{
  text-align: center;
}
